<article class="blog">
  <h1 class="title">{{title}}</h1>
  <p class="content">{{blog_content}}</p>
  <p class="date">{{format_date created_at}} by {{blog.user.username}}</p>
  <a href="/blog/{{id}}">{{comments.length}}
    {{format_plural "comment" comments.length}}</a>
</article>