<article class="blog">
  <a href="/blog/{{id}}">
    <h1 class="title">{{title}}</h1>
  </a>
  <p class="date">By {{user.username}} on {{format_date created_at}}</p>
  <p class="content">{{content}}</p>
<<<<<<< HEAD
=======
  <p class="date">{{format_date created_at}} by {{blog.user.username}}</p>
>>>>>>> parent of f3b53fd (style blogs page and add blogs route to nav bar)
  <a href="/blog/{{id}}">{{comments.length}}
    {{format_plural "comment" comments.length}}</a>
</article>