<article class="edit-blog-content">
  <a href="/dashboard" class="edit-back">&larr; Back to dashboard</a>
  <h2 class="edit-page-title">Edit Blog</h2>
  <form class="edit-blog-form">
    <div>
      <div class="edit-blog">
        <label for="blog-title">Title</label>
        <input name="blog-title" type="text" class="edit-blog-title" value="{{blog.title}}" />
      </div>
      <div class="edit-blog">
        <label for="blog-content">Blog</label>
        <input name="blog-content" type="text" class="edit-blog-content-input" value="{{blog.content}}" />
      </div>   
    </div>
    <div>
      <a href="/blog/{{blog.id}}">{{blog.comments.length}}
        {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit">Save Blog</button>
    <button type="button" class="delete-blog-btn">Delete Blog</button>
  </form>


<form class="comment-form">
  <div>
    <textarea name="comment-body" class="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" class="comment-btn">Add Comment</button>
  </div>
</form>

{{> comments blog.comments}}
</article>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>
